@import '~grommet/scss/vanilla/index';


.splitter{
  display: flex;
  flex-direction: row;
}

.center-dashboard{
  flex-grow: 4;
  flex-shrink: 4;
}

.right-sidebar{
  padding: 5px 5px 0 5px;
  flex-grow: 1;
  flex-shrink: 1;
  background: #525a76;
  width: 20%;
}

.stats-right{
  text-align: center;
}

.sidebar-content{
  position: fixed;
  margin-right: 15px;
}

.sidebar-content h4{
  color: #fff;
}

@media only screen and (max-width: 500px) {
  .splitter{
    display: flex;
    flex-direction: column;
  }
  .right-sidebar{
    width: 100%;
  }
}